SAP Integration/SAPTruckLoadingDemo/src/CanvasApps/src/cr01c_truckcheck_7e43b/pkgs/Wadl/RKN_GET_DELIVERY_LIST.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="RKN_GET_DELIVERY_LIST" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="RKN_GET_DELIVERY_LIST" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_ReadSAPtablewithparsing_WherefiltersItem-1_def" />
      <string name="ManualTriggerInput_ReadSAPtablewithparsing_WherefiltersItem-1_1_def" />
      <object name="ManualTriggerInput">
        <property name="ReadSAPtablewithparsing_WherefiltersItem-1" type="string" />
        <property name="ReadSAPtablewithparsing_WherefiltersItem-1_1" type="string" />
      </object>
      <string name="ResponseActionOutput_FieldsMetadata_def_items_def_Name_def" />
      <integer name="ResponseActionOutput_FieldsMetadata_def_items_def_Offset_def" />
      <integer name="ResponseActionOutput_FieldsMetadata_def_items_def_Length_def" />
      <string name="ResponseActionOutput_FieldsMetadata_def_items_def_AbapDataType_def" />
      <string name="ResponseActionOutput_FieldsMetadata_def_items_def_Description_def" />
      <object name="ResponseActionOutput_FieldsMetadata_def_items_def">
        <property name="Name" type="string" />
        <property name="Offset" type="integer" />
        <property name="Length" type="integer" />
        <property name="AbapDataType" type="string" />
        <property name="Description" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_FieldsMetadata_def_items_def" name="ResponseActionOutput_FieldsMetadata_def" />
      <string name="ResponseActionOutput_Rows_def_items_def_VBELN_def" />
      <string name="ResponseActionOutput_Rows_def_items_def_VSTEL_def" />
      <string name="ResponseActionOutput_Rows_def_items_def_LDDAT_def" />
      <string name="ResponseActionOutput_Rows_def_items_def_KUNNR_def" />
      <object name="ResponseActionOutput_Rows_def_items_def">
        <property name="VBELN" type="string" />
        <property name="VSTEL" type="string" />
        <property name="LDDAT" type="string" />
        <property name="KUNNR" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_Rows_def_items_def" name="ResponseActionOutput_Rows_def" />
      <object name="ResponseActionOutput">
        <property name="FieldsMetadata" typeRef="ResponseActionOutput_FieldsMetadata_def" />
        <property name="Rows" typeRef="ResponseActionOutput_Rows_def" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ReadSAPtablewithparsing_WherefiltersItem-1" path="/ReadSAPtablewithparsing_WherefiltersItem-1" type="xs:string" required="true" />
            <param style="plain" name="ReadSAPtablewithparsing_WherefiltersItem-1_1" path="/ReadSAPtablewithparsing_WherefiltersItem-1_1" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>